<div class="container mx-auto w-75">
    <h1>Sign in</h1>
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="">
            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" placeholder="Enter the email" formControlName="email">
        </div>
        <div class="">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter the password" formControlName="password">
        </div>
        <button  class="btn btn-success mt-3" >Sign in</button>
    </form>
</div>
